/* ===== TOMCHI PREMIUM ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f8f3e8;
    font-family:Georgia, serif;
    color:#3a2a14;
}

#app{
    max-width:430px;
    margin:auto;
    padding:20px;
}

.screen{
    display:none;
}

.screen.active{
    display:block;
}

h1{
    text-align:center;
    font-size:42px;
    color:#7b5a16;
    margin-top:30px;
    margin-bottom:15px;
}

h2{
    text-align:center;
    color:#7b5a16;
    margin:25px 0 15px;
}

p{
    text-align:center;
    margin-bottom:20px;
}

.btn{
    width:100%;
    padding:15px;
    margin-top:12px;
    border:none;
    border-radius:14px;
    background:#c89d2b;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.25s;
}

.btn:hover{
    background:#b28718;
}

input{
    width:100%;
    padding:15px;
    border:2px solid #d7c18d;
    border-radius:12px;
    font-size:17px;
    margin-bottom:15px;
    background:white;
}

#branches{
    display:flex;
    flex-direction:column;
    gap:14px;
}

.branch-card{
    background:white;
    border:2px solid #d6b36c;
    border-radius:15px;
    padding:18px;
    font-size:19px;
    font-weight:bold;
    cursor:pointer;
    box-shadow:0 6px 14px rgba(0,0,0,.08);
}

.branch-card:hover{
    background:#fff7df;
}

#cart{
    position:fixed;
    left:0;
    right:0;
    bottom:15px;
    display:flex;
    justify-content:center;
}

#cart button{
    background:#7b5a16;
    color:white;
    border:none;
    border-radius:50px;
    padding:15px 30px;
    font-size:18px;
}

#whatsapp{
    display:none;
}